#root {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00A3FF;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
  background-color: #00A3FF;
}

.mainPart {
  margin: 100px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --- Study Tips Start--- */
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.tipsSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.tipsSection img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  align-self: center;
}

.allTips {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60px;
}

/* --- Study Tips End --- */

/* --- Events Start --- */

.eventsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.event {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 800px;
}

.textContainer {
  width: 500px;
}

/* --- Events End --- */

@media (prefers-color-scheme: light) {
  .navigation, .footer {
    background-color: #0077CC;
  }
}
